@import '../../../styles/variables';
@import '../../../styles/mixins';

.header {
    @include display-flex(flex-start, center, row);
    height: 40px;
    border-bottom: 1px solid $borderColor;
    font-size: 14px;
    font-weight: 500;
    padding-right: 12px;
    
    .header__selectAll {
    }
    
    .header__title {
    }
}