@import '../../../styles/variables';

.primaryNav {
    @include display-flex(flex-start, center, column);
    background: linear-gradient(#413B46, #1C1224);
    align-self: flex-start;
    width: 50px;
    height: 100vh;

    .logo {
        margin: 10px 0 115px 0; 
    }
}