@import '../../../styles/variables';
@import '../../../styles/mixins';

.actions {
    width: calc(100vw - 50px - 345px);
    margin: 0 32px 0 32px;
    
    .actions__search {
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        height: 34px;
        background-color: $buttonBg;
        border: 1px solid $borderColor;
        margin-top: 32px;
    }

    .actions__row {
        @include display-flex(space-between, baseline, row);

        .actions__results {
            font-size: 14px;
            font-weight: 500;
            margin: 24px 0 16px 0;
        }
    
        .actions__results > span {
            color: #A3A3A3;
            margin-left: 4px;
        }
        
        .actions__buttons--button {
            align-self: flex-end;
            padding: 6px 10px 6px 10px;
            background-color: $headerBg;
            border: 1px solid $borderColor;
            border-radius: 3px;
            color: #A3A3A3;
            min-width: 55px;
            font-size: 12px;
            font-weight: 600;
            margin-left: 8px;
        }

        .actions__buttons--button:hover {
            cursor: pointer;
            background-color: $borderColor;
        }

        .disabled__button {
            opacity: .3;
        }

        .disabled__button:hover {
            background-color: $headerBg;
            cursor: default;
        }
    }
}