@import '../../../styles/variables';
@import '../../../styles/mixins';

.filters {
    width: 250px;
    height: calc(100vh - 52px);
    background: white;
    border-right: 1px solid $borderColor;
    padding: 0 16px 0 16px;
    overflow: scroll;

    // Header for each filter section

    .filters__header {
        @include display-flex(space-between, center, row);
        border-bottom: 1px solid $borderColor;
        margin: 32px 0 24px 0;
        height: 25px;
    }
    
    .filters__header > h2 {
        font-size: 14px;
        font-weight: 600;
        color: $headerColor;
        padding: 0 0 8px 12px;
    }

    // Saved filters section
    
    .filters__saved > ul {
        padding: 0;
    }
    
    .filters__saved > ul > li {
        font-size: 13px;
        color: $textColor;
        margin: 0 0 14px 14px;
        list-style-type: none;
    }
    .filters__saved > ul > li:hover {
        cursor: pointer;
        color: $primaryColor;
    }

    // Filters section

    .filtters__group {

    }

    .filters__group--header {
        @include display-flex(flex-start, center, row);
        font-size: 13px;
        font-weight: 600;
        color: $textColor;   
        height: 32px;
        background-color: $headerBg;
        padding-left: 16px;
        margin-bottom: 12px;
    }

    .filters__group--filter {
        @include display-flex(flex-start, center, row);
    }

    .individualFilter > ul > li:last-child {
        margin-bottom: 24px;
    }

    

}