@import 'variables';
@import 'mixins';

.application {
    @include display-flex(flex-start, center, row);
    width: 100vw;
}

.application__content {
    @include display-flex(flex-start, flex-start, column);
    top: 0;
}

.application__content--row {
    @include display-flex(flex-start, flex-start, row);
}

.application__content--table {
    @include display-flex(flex-start, flex-start, column);
    width: calc(100vw - 50px - 320px);
}