@import 'variables';
@import 'mixins';

* {
    margin: 0;
}

body { 
    width: 100vw;
    @include display-flex(center, center, row);
}

h1, h2, h3, h4, h5, p, button, label, li, span {
    font-family: $primaryFont;
}