// Fonts
$primaryFont: 'Lato', 'Open sans';
$secondaryFont: 'Merriweather', 'Open sans';

// Colors
$primaryColor: #428BCA;
$textColor: #454545;
$activeColor: #EEEEEE;
$buttonBg: #FCFDFC;
$headerBg: #F8F8F8;
$borderColor: #DDDDDD;
$successColor: #5CB85C;
$warningColor: #F0AD4E;
$failColor: #D9534F;