@import '../../../styles/variables';
@import '../../../styles/mixins';

.pageNav {
    width: calc(100vw - 50px);
    height: 52px;
    background: $headerBg;
    border-bottom: 1px solid $borderColor;
}