@import '../../styles/variables';
@import '../../styles/mixins';

.filters {
    // @include display-flex(flex-start, center, column);
    width: 250px;
    height: calc(100vh - 52px);
    background: white;
    border-right: 1px solid $borderColor;
}